doctype html
html(lang="en")
    head
        title I WANT TO FIT IN
        link(rel="stylesheet" type="text/css" href="css/normalize.css")
        link(rel="stylesheet" type="text/css" href="css/skeleton.css")
        link(rel="stylesheet" type="text/css" href="css/style.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    body
        .row
            .image(class="six columns")
            .text(class="five columns")
                #top
                    h1 Bateman Ipsum
                    h2 Oh, my God. It even has a watermark.
                    .buttons
                        button(id="quote") Generate Quote
                        button(id="ipsum") Generate Ipsum
                #text
                    p(id="content") 
        

    script(src="script.js")
