@font-face {
    font-family: silianRail;
    src: url("/fonts/silianrail.ttf")
}

.image {
    float: left;
    display: inline-block;
    height: 100vh;
    width: 100vh;
    background: url("/images/batemancopy.jpg");
    background-size: 100%;
    background-repeat: no-repeat
}

.text {
    font-family: 'silianRail';
    background-color: rgb(252, 252, 252);
    display: inline-block;
    float: right;
}

h1 {
    text-align: right;
    margin: 0 15% 0 0;
    font-size: 48px;
    padding-top: 3%;
}

h2 {
    text-align: right;
    margin: 0 15% 0 0;
    font-size: 36px;
}