@font-face {
    font-family: silianRail;
    src: url("/fonts/silianrail.ttf")
}

body {
    background-color: rgb(254, 254, 254);
}

.image {
    height: 100vh;
    width: 100vh;
    background: url("/images/batemancopy.jpg");
    background-size: 100%;
    background-repeat: no-repeat
}

.text {
    font-family: 'silianRail';
    background-color: rgb(254, 254, 254);
}

button {
    margin-left: 40%;
    margin-bottom: 2rem;
}

h1 {
    text-align: center;
    font-size: 48px;
    padding-top: 3%;
}

h2 {
    text-align: center;
    font-size: 36px;
}

p {
    text-align: center
}